altgraph
certifi
charset-normalizer
colorama
filelock
fsspec
future
idna
iso8601
Jinja2
keyboard
llvmlite
MarkupSafe
mpmath
networkx
numba
numpy
packaging
pefile
PyAudio
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes
PyYAML
regex
requests
serial
setuptools
shapely
sympy
tiktoken
torch
tqdm
typing_extensions
urllib3
openai-whisper
